USE [VirtualEnterpriseDB]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_dbo.Employees_dbo.UserRightPermissions_UserRightPermissionID]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_dbo.Employees_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs] DROP CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.UserRightPermissions_UserRightPermissionID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs] DROP CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs] DROP CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Company_CompanyID]
GO
ALTER TABLE [dbo].[Company] DROP CONSTRAINT [FK_dbo.Company_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[CallHistories] DROP CONSTRAINT [FK_dbo.CallHistories_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[CallHistories] DROP CONSTRAINT [FK_dbo.CallHistories_dbo.CompanyVsStaffs_CompanyVsStaffID]
GO
ALTER TABLE [dbo].[CallHistories] DROP CONSTRAINT [FK_dbo.CallHistories_dbo.CallCategories_CallCategoryID]
GO
/****** Object:  Table [dbo].[UserRightPermissions]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[UserRightPermissions]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[Schools]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[CompanyVsStaffs]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[CompanyVsStaffs]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[Company]
GO
/****** Object:  Table [dbo].[CallHistories]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[CallHistories]
GO
/****** Object:  Table [dbo].[CallCategories]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[CallCategories]
GO
/****** Object:  Table [dbo].[AccessLists]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[AccessLists]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/10/2020 5:37:37 AM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccessLists]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLists](
	[AccessListID] [int] IDENTITY(1,1) NOT NULL,
	[AccessName] [nvarchar](max) NULL,
	[AccessValue] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AccessLists] PRIMARY KEY CLUSTERED 
(
	[AccessListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CallCategories]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallCategories](
	[CallCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CallCategoryName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.CallCategories] PRIMARY KEY CLUSTERED 
(
	[CallCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CallHistories]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CallHistories](
	[CallHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CallerName] [nvarchar](max) NULL,
	[CallerPhone] [nvarchar](max) NULL,
	[CallerEmail] [nvarchar](max) NULL,
	[CallerAddress] [nvarchar](max) NULL,
	[CountryID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CompanyVsStaffID] [int] NOT NULL,
	[CallTime] [datetime] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CallCategoryID] [int] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.CallHistories] PRIMARY KEY CLUSTERED 
(
	[CallHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CompanyLogo] [nvarchar](max) NULL,
	[CompanyLogoByte] [varbinary](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyVsStaffs]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyVsStaffs](
	[CompanyVsStaffID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[LoginName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[RoleID] [int] NULL,
	[UserRightPermissionID] [int] NULL,
	[Status] [int] NOT NULL,
	[IsItSuperAdmin] [bit] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
	[CompanyStaffImage] [nvarchar](max) NULL,
	[CompanyStaffImageByte] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.CompanyVsStaffs] PRIMARY KEY CLUSTERED 
(
	[CompanyVsStaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[LoginName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[RoleID] [int] NULL,
	[UserRightPermissionID] [int] NULL,
	[EmployeeOwnImageBytes] [varbinary](max) NULL,
	[EmployeeOwnImageBytesPaths] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[SchoolID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CourseStructure] [int] NOT NULL,
	[ApplicationPA] [nvarchar](max) NULL,
	[AcceptedPA] [nvarchar](max) NULL,
	[SuccessRatio] [decimal](18, 2) NOT NULL,
	[IsGraduateEntryAvailable] [bit] NOT NULL,
	[FoundationOrAccessCoursesAvailable] [bit] NOT NULL,
	[IntercalatedBSc] [int] NOT NULL,
	[GCSESubjectsRequired] [nvarchar](max) NULL,
	[A_LevelSubjectsRequired] [nvarchar](max) NULL,
	[A_LevelGradesRequired] [nvarchar](max) NULL,
	[ScottishHighersSubjectsRequired] [nvarchar](max) NULL,
	[ScottishHigherGradesRequired] [nvarchar](max) NULL,
	[ScottishAdvancedHighersSubjectsRequired] [nvarchar](max) NULL,
	[ScottishAdvancedHighersGradesRequired] [nvarchar](max) NULL,
	[IBSubjectsRequired] [nvarchar](max) NULL,
	[IBGradesRequired] [nvarchar](max) NULL,
	[UCATRequired] [bit] NOT NULL,
	[HowisUCATused] [nvarchar](max) NULL,
	[BMATRequired] [bit] NOT NULL,
	[HowisBMATUsed] [nvarchar](max) NULL,
	[InterviewStyle] [int] NOT NULL,
	[Fees_EUStudents] [nvarchar](max) NULL,
	[Fees_NonEUStudents] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[DeleteBy] [int] NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Schools] PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRightPermissions]    Script Date: 1/10/2020 5:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRightPermissions](
	[UserRightPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[UserRightPermissionName] [nvarchar](max) NULL,
	[UserRightPermissionDescription] [nvarchar](max) NULL,
	[UserRightPermissionDetails] [nvarchar](max) NULL,
	[CreateBy] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.UserRightPermissions] PRIMARY KEY CLUSTERED 
(
	[UserRightPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessLists] ON 

INSERT [dbo].[AccessLists] ([AccessListID], [AccessName], [AccessValue], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [Status], [IsGranted]) VALUES (1, N'Set_User_Right', 1, 1, CAST(N'2019-12-31T00:00:00.000' AS DateTime), NULL, NULL, 1, 1)
INSERT [dbo].[AccessLists] ([AccessListID], [AccessName], [AccessValue], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [Status], [IsGranted]) VALUES (2, N'Assign_Employee_User_Right', 2, 1, CAST(N'2019-12-31T00:00:00.000' AS DateTime), NULL, NULL, 1, 1)
INSERT [dbo].[AccessLists] ([AccessListID], [AccessName], [AccessValue], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [Status], [IsGranted]) VALUES (3, N'View_Employee_List', 3, 1, CAST(N'2019-12-31T00:00:00.000' AS DateTime), NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[AccessLists] OFF
SET IDENTITY_INSERT [dbo].[CallCategories] ON 

INSERT [dbo].[CallCategories] ([CallCategoryID], [CallCategoryName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (1, N'Testeejhj', 1, 1, CAST(N'2020-01-05T11:38:41.163' AS DateTime), 1, CAST(N'2020-01-05T12:16:20.397' AS DateTime), 1, NULL)
INSERT [dbo].[CallCategories] ([CallCategoryID], [CallCategoryName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (2, N'Test2', 3, 1, CAST(N'2020-01-05T11:38:41.163' AS DateTime), 1, NULL, 1, CAST(N'2020-01-05T12:37:27.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[CallCategories] OFF
SET IDENTITY_INSERT [dbo].[CallHistories] ON 

INSERT [dbo].[CallHistories] ([CallHistoryID], [CallerName], [CallerPhone], [CallerEmail], [CallerAddress], [CountryID], [EmployeeID], [CompanyID], [CompanyVsStaffID], [CallTime], [Description], [CallCategoryID], [Subject], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (3, N'test', N'zxcz', N'zxczx', N'zczxcxz', 2, 1, 5, 13, CAST(N'2020-01-06T22:39:58.147' AS DateTime), N'czczx', 1, N'zxczx', 3, 1, CAST(N'2020-01-06T22:39:58.147' AS DateTime), NULL, NULL, 1, CAST(N'2020-01-06T23:22:04.153' AS DateTime))
INSERT [dbo].[CallHistories] ([CallHistoryID], [CallerName], [CallerPhone], [CallerEmail], [CallerAddress], [CountryID], [EmployeeID], [CompanyID], [CompanyVsStaffID], [CallTime], [Description], [CallCategoryID], [Subject], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (4, N'Test', N'7632478', N'terst', N'no address', 1, 1, 5, 13, CAST(N'2020-01-06T23:35:16.990' AS DateTime), N'test', 1, N'nio sub', 0, 1, CAST(N'2020-01-06T23:35:16.990' AS DateTime), 1, CAST(N'2020-01-07T00:03:22.270' AS DateTime), NULL, NULL)
INSERT [dbo].[CallHistories] ([CallHistoryID], [CallerName], [CallerPhone], [CallerEmail], [CallerAddress], [CountryID], [EmployeeID], [CompanyID], [CompanyVsStaffID], [CallTime], [Description], [CallCategoryID], [Subject], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (7, N'Asif', N'01743881164', N'test@mail.com', N'Khilkhet, Nikunja-2', 1, 1, 4, 14, CAST(N'2020-01-07T00:03:22.270' AS DateTime), N'Test', 1, N'For Call', 0, 1, CAST(N'2020-01-07T00:03:22.270' AS DateTime), 1, CAST(N'2020-01-07T00:03:22.270' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CallHistories] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyID], [CompanyName], [PostCode], [City], [Address], [Details], [CompanyLogo], [CompanyLogoByte], [Tag], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate], [CountryID]) VALUES (2, N'Googleee', N'45345365ee', N'unknownee', N'2nd streetee', N'testeee', N'/images/CompanyImage/2_LOGO.jpg', NULL, N'ttt', 3, 1, CAST(N'2020-01-04T23:15:47.710' AS DateTime), 1, CAST(N'2020-01-04T23:43:59.500' AS DateTime), 1, CAST(N'2020-01-05T00:36:25.600' AS DateTime), 11)
INSERT [dbo].[Company] ([CompanyID], [CompanyName], [PostCode], [City], [Address], [Details], [CompanyLogo], [CompanyLogoByte], [Tag], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate], [CountryID]) VALUES (3, N'Testup', N'2324423', N'dhaka', N'address', N'test compoany', N'/images/CompanyImage/3_LOGO.jpg', NULL, N'#tst', 3, 1, CAST(N'2020-01-05T13:05:37.600' AS DateTime), 1, CAST(N'2020-01-05T22:59:37.297' AS DateTime), 1, CAST(N'2020-01-05T23:03:55.730' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[CompanyVsStaffs] ON 

SET IDENTITY_INSERT [dbo].[CompanyVsStaffs] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (1, N'Bangladesh', 1, 1, CAST(N'2020-04-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (2, N'India', 1, 1, CAST(N'2020-04-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (3, N'SouthAfrica', 1, 1, CAST(N'2020-04-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [LoginName], [Password], [Phone], [Address], [Email], [DateOfBirth], [RoleID], [UserRightPermissionID], [EmployeeOwnImageBytes], [EmployeeOwnImageBytesPaths], [Status], [CreatedBy], [CreatedDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (1, N'Asif', N'Rabbani', N'Asif', N'1', N'00987', N'khilkhet,dhaka', N'asif@mail.com', CAST(N'1997-01-01T00:00:00.000' AS DateTime), 5, 1, NULL, N'/images/EmployeeImage/avatar5.png', 1, N'1', CAST(N'2020-04-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (1, N'Admin', 1, 1, CAST(N'2010-05-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (3, N'Client', 1, 1, CAST(N'2020-02-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Status], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate], [DeleteBy], [DeleteDate]) VALUES (5, N'Super Admin', 1, 1, CAST(N'2020-05-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Schools] ON 

SET IDENTITY_INSERT [dbo].[Schools] OFF
SET IDENTITY_INSERT [dbo].[UserRightPermissions] ON 

INSERT [dbo].[UserRightPermissions] ([UserRightPermissionID], [UserRightPermissionName], [UserRightPermissionDescription], [UserRightPermissionDetails], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (2, N'Client', NULL, N'1,2,3,4,5,7,10,12,16,22,25,37,40,43,46,49,52,55,61,64,67,70,73,76,83,85,86,91,92,93,100', 1, CAST(N'2017-11-26T10:46:29.357' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserRightPermissions] OFF
ALTER TABLE [dbo].[CallHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CallHistories_dbo.CallCategories_CallCategoryID] FOREIGN KEY([CallCategoryID])
REFERENCES [dbo].[CallCategories] ([CallCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CallHistories] CHECK CONSTRAINT [FK_dbo.CallHistories_dbo.CallCategories_CallCategoryID]
GO
ALTER TABLE [dbo].[CallHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CallHistories_dbo.CompanyVsStaffs_CompanyVsStaffID] FOREIGN KEY([CompanyVsStaffID])
REFERENCES [dbo].[CompanyVsStaffs] ([CompanyVsStaffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CallHistories] CHECK CONSTRAINT [FK_dbo.CallHistories_dbo.CompanyVsStaffs_CompanyVsStaffID]
GO
ALTER TABLE [dbo].[CallHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CallHistories_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CallHistories] CHECK CONSTRAINT [FK_dbo.CallHistories_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Company_CompanyID] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyVsStaffs] CHECK CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Company_CompanyID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[CompanyVsStaffs] CHECK CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[CompanyVsStaffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.UserRightPermissions_UserRightPermissionID] FOREIGN KEY([UserRightPermissionID])
REFERENCES [dbo].[UserRightPermissions] ([UserRightPermissionID])
GO
ALTER TABLE [dbo].[CompanyVsStaffs] CHECK CONSTRAINT [FK_dbo.CompanyVsStaffs_dbo.UserRightPermissions_UserRightPermissionID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.UserRightPermissions_UserRightPermissionID] FOREIGN KEY([UserRightPermissionID])
REFERENCES [dbo].[UserRightPermissions] ([UserRightPermissionID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.UserRightPermissions_UserRightPermissionID]
GO
